{% load static %}
<!DOCTYPE html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/my_styles.css' %}" media="screen,projection"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<ul id="dropdown1" class="dropdown-content">
    <li><a href="{% url 'show all users' %}">Users</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">Users</a></li>
</ul>
<nav>
    <div class="nav-wrapper">
        <a href="{% url 'home' %}" class="brand-logo">IddaShop</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'list orders' %}">Orders</a></li>

                <li><a href="{% url 'show cart' %}">Cart</a></li>
                <li><a href="{% url 'show profile' request.user.id %}">Profile</a></li>
                {% if request.user.is_staff %}
                    <li><a href="{% url 'create item' %}">Add product</a></li>
                    <li><a href="{% url 'create item' %}">Manage orders</a></li>
                {% endif %}
                {% if request.user.is_superuser %}
                    <li>
                    <a class="dropdown-trigger" href="#!" data-target="dropdown1">Admin<i class="material-icons right">arrow_drop_down</i></a>
                    </li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login user' %}">Login</a></li>
                <li><a href="{% url 'register user' %}">Register</a></li>
            {% endif %}
            <!--


            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Admin<i class="material-icons right">arrow_drop_down</i></a>
                -->
            </li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    {% if request.user.is_authenticated %}
        <li><a href="{% url 'list orders' %}">Orders</a></li>
        <li><a href="{% url 'create item' %}">Add product</a></li>
        <li><a href="{% url 'show cart' %}">Cart</a></li>
        <li><a href="{% url 'show profile' request.user.id %}">Profile</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'login user' %}">Login</a></li>
        <li><a href="{% url 'register user' %}">Register</a></li>
    {% endif %}
    <!-- Dropdown Trigger -->
    <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Admin<i class="material-icons right">arrow_drop_down</i></a>
    </li>
</ul>

<div class="container">
    {% block page_content %}
    {% endblock %}
</div>

<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
</body>