{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    {% if not gender %}
        <div class="parallax-container" id="parallax-main-first">
            <div class="parallax"><img src="{% static 'images/home-img.jpg' %}"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h1> Welcome to our clothing shop!</h1>
                </div>
                <div class="col s6">
                    <a href="{% url 'home' %}?gender=Male" class="waves-effect waves-light btn-large">Men's clothing</a>
                </div>
                <div class="col s6">
                    <a href="{% url 'home' %}?gender=Female" class="waves-effect waves-light btn-large">Women's
                        clothing</a>
                </div>
            </div>
        </div>

        <div class="parallax-container">
            <div class="parallax"><img src="{% static 'images/home-img.jpg' %}"></div>
        </div>

        <script>
            $("#main-container").removeClass("container")
        </script>
    {% else %}
        <div class="row">

            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab s3">
                            <a href="{% url 'home' %}?gender={{ gender }}" target="self">
                                All Items
                            </a>
                        </li>
                        {% for category in categories %}
                            <li class="tab s3"><a
                                    {% if category.name == category_name %}
                                        class="active"
                                    {% endif %}
                                        href="{% url 'home' %}?gender={{ gender }}&category={{ category.name }}"
                                        target="self">
                                {{ category.name }}
                            </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% if not items %}
                <h1>No items to show.</h1>
            {% else %}
                {% for item in items %}
                    <div class="col s12 m6 l3">
                        <div class="card medium">
                            <div class="card-image">
                                <a href="{% url 'item details' item.id %}"><img class="thumbnail"
                                                                                src="{{ item.picture.url }}"></a>
                                <span class="card-title half-transparent">{{ item.name }}</span>
                            </div>
                            <div class="card-content">
                                <p>{{ item.description }}</p>
                            </div>
                            <div class="card-action">
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'item details' item.id %}">Details</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}