{% extends 'base.html' %}

{% block page_content %}
    <div class="row">
        {% if orders %}
            <ul class="collection">
                {% for order in orders %}
                    <li class="collection-item avatar">
                        <i class="material-icons circle">toc</i>
                        <span class="title">{{ order.id }}</span>
                        <p>{{ order.ordered_on }}</p>
                        {% if viewed_as_manager %}
                            <p>Ordered by: {{ order.ordered_by.email }}</p>
                        {% endif %}

                        {% if viewed_as_manager %}
                            <a href="{% url 'accept order' order.id %}" class="secondary-content">View Order</a>
                        {% else %}
                            <a href="{% url 'order details' order.id %}" class="secondary-content">View Order</a>
                        {% endif %}

                        {% if order.accepted_by %}
                            <p>Expected to arrive on: {{ order.expected_arrival }}</p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h1>No orders!</h1>
        {% endif %}
    </div>
{% endblock %}