{% extends 'base/base.html' %}
{% load dict_filter %}
{% load item_total_price_filter %}
{% load order_total_price_filter %}

{% block page_content %}
    <div class="row">
        {% if items %}
            <ul class="collection">
                {% for item in items %}
                    <li class="collection-item avatar">
                        <img src="{{ item|get_value:'image_url' }}" alt="" class="circle">
                        <span class="title">{{ item|get_value:'title' }}</span>
                        <p>Size: {{ item|get_value:'size' }}</p>
                        <p>Quantity: {{ item|get_value:'quantity' }}</p>
                        <p>Price: {{ item|get_total_price|floatformat:2 }} BGN </p>
                        <a href="{% url 'remove from cart' item|get_value:'pk' item|get_value:'size' %}" class="secondary-content"><i
                                class="material-icons">delete</i></a>
                    </li>
                {% endfor %}
            <div>
                Total Price: {{ items|order_get_total_price|floatformat:2 }} BGN
                <a class="waves-effect waves-light btn" href="{% url 'confirm order' %}">Finish Order</a>
            </div>
            </ul>
        {% else %}
            <h1>No items in cart!</h1>
        {% endif %}
    </div>
{% endblock %}